* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --header-bg-prim-color:rgb(107, 177, 107);
    --header-bg-sec-color:green;
    --border-line :rgba(9, 53, 9, 0.685);
    --intro-txt-bg:rgba(206, 240, 206, 0.473);
    --arrow-bg: rgba(231, 223, 179, 0.438);   
    --font-style: 'Bangers', cursive;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    height: fit-content;
    background-color: rgb(240, 240, 200);
    overflow-x: hidden;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50%;
    height: fit-content;
    width: 100%;
}

footer {
    width: 100%;
    height: 100px;
    background-image: radial-gradient(var(--header-bg-prim-color),var(--header-bg-sec-color));
    border-top: 1px solid var(--border-line);
    margin-top: auto;
}


